<!DOCTYPE html>
<html>
  <head>
    <title>案例</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <form enctype = 'application/json'>
   <ul>
    <% items.forEach(function(item){%>
                <li><%=item %></li>
            <% }) %>
    </ul>
  
    
    
   <input type="text" value=""/>
   <input type="submit" value="submit"/>
   <button>发送</button>
</form>
  </body>
</html>
